<section id="about"
  class="container mx-auto mb-6 px-6 py-16 rounded-2xl flex flex-col md:flex-row md:space-x-8 bg-white mt-[-50px]"
  data-aos="fade-in" data-aos-duration="4000" data-aos-offset="0" data-aos-mirror="true">
  <div class="flex-grow md:w-1/2">
    <div class="w-full h-80 md:h-full overflow-hidden">
      <img src="assets/me.webp" alt="Fabien Brocklesby" class="rounded-lg shadow-md object-cover h-full w-full" />
    </div>
  </div>
  <div class="flex-grow md:w-1/2 mt-4 md:mt-0">
    <h1 class="text-3xl font-bold text-gray-800">Hey there! I'm Fabien</h1>
    <p class="text-gray-700 text-lg leading-loose mt-4">
      The world of code has fascinated me since I was just 7 years old.
      That's when I started tinkering with programming languages, and I
      haven't stopped exploring this exciting field ever since. Over the
      years, I've developed a passion for building beautiful and functional
      websites and applications.
    </p>
    <p class="text-gray-700 text-lg leading-loose mt-4">
      Currently, I'm running my own freelance web development business from Nelson, New Zealand. As a full-stack
      developer, I
      enjoy working on both the front-end (what you see) and the back-end (what makes it work) of web applications.

    </p>
    <h2 class="text-2xl font-semibold text-gray-800 mt-8">SaaS Projects
    </h2>
    <p class="text-gray-700 text-lg mb-4">
      I'm also working on some exciting SaaS projects on the side, bringing cool ideas to life that I believe can make
      a
      significant impact.
    </p>
    <h3 class="text-xl font-semibold text-gray-800 mb-2 mt-8">
      Looking for a Web Developer?
    </h3>
    <p class="text-gray-700 text-lg mb-4">
      I'm always on the lookout for new and interesting projects to take on! Whether you have a simple website concept
      or a complex application in mind, I'd love to hear about it.
    </p>
    <a href="#contact"
      class="inline-flex items-center px-4 py-2 bg-indigo-600 text-white rounded-md betterhover:hover:bg-indigo-700 focus:outline-none">Let's
      Talk!</a>
  </div>
</section>