<footer id="footer" class="bg-gray-800 text-white py-8 flex flex-col items-center" data-aos="fade-in"
  data-aos-duration="1500">
  <div class="copyright mb-6 text-md font-bold underline underline-offset-8">
    &copy; 2024 Fabien Brocklesby
  </div>
  <nav class="flex flex-col md:flex-row md:space-x-4 mb-2 text-center">
    <a href="#landing" class="text-gray-300 hover:text-gray-100">Home</a>
    <a href="#about" class="text-gray-300 hover:text-gray-100">About</a>
    <a href="#socials" class="text-gray-300 hover:text-gray-100">Socials</a>
    <a href="#contact" class="text-gray-300 hover:text-gray-100">Contact</a>
  </nav>
  <div class="social">
    <a href="https://www.linkedin.com/in/fabien-brocklesby-3172ab306/" class="text-gray-300 hover:text-gray-100 mr-4">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/fabienbrocklesby" class="text-gray-300 hover:text-gray-100">
      <i class="fab fa-github"></i>
    </a>
  </div>
</footer>