<header id="landing" class="landing flex items-center justify-center h-screen text-center p-4" data-aos="fade-in"
  data-aos-duration="6000" data-aos-mirror="true">
  <div class="container mx-auto max-w-3xl">
    <h1 class="text-5xl">
      Vision to Reality.
      <span class="landing-gradient-text" data-text="Lets Code.">Lets Code.</span>
    </h1>
    <div class="flex justify-center space-x-4 mt-10">
      <a href="#about"><button
          class="transition-colors duration-200 ease-in-out betterhover:hover:bg-background border-2 bg-white text-background betterhover:hover:text-white betterhover:hover:shadow-lg betterhover:hover:shadow-gray-600 font-bold py-2 px-4 rounded-3xl">
          Learn More About Me
        </button>
      </a>
      <a href="#contact"><button
          class="transition-colors duration-200 ease-in-out bg-background border-2 betterhover:hover:bg-white betterhover:hover:text-background betterhover:hover:shadow-lg betterhover:hover:shadow-gray-600 text-white font-bold py-2 px-4 rounded-3xl">
          Contact Me
        </button>
      </a>
    </div>
  </div>
</header>