<nav class="navbar fixed top-0 left-0 w-full bg-gray-800 z-50 rounded-b-3xl">
  <div class="container mx-auto px-4 py-2 flex justify-center items-center h-12">
    <ul class="flex space-x-4">
      <li class="nav-item">
        <a href="#landing" class="text-white px-3 py-2 rounded-md">Home</a>
      </li>
      <li class="nav-item">
        <details class="dropdown" id="aboutDropdown">
          <summary class="text-white px-3 rounded-md">About</summary>
          <ul tabindex="0" class="dropdown-content menu bg-gray-800 rounded-box z-[1] w-52 p-2 mt-2 shadow">
            <li><a href="#about" class="text-white px-3 py-2 rounded-md font-bold">About</a></li>
            <li><a href="#pricing" class="text-white px-3 py-2 rounded-md font-bold">Pricing</a></li>
          </ul>
        </details>
      </li>

      <li class="nav-item">
        <a href="#socials" class="text-white px-3 py-2 rounded-md">Socials</a>
      </li>

      <li class="nav-item">
        <a href="#contact" class="text-white px-3 py-2 rounded-md">Contact</a>
      </li>
    </ul>
  </div>
</nav>