<section id="pricing"
  class="container mx-auto px-6 pt-24 flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-4 items-stretch">

  <div class="card bg-white text-primary-content flex flex-col p-6 shadow-lg border rounded-lg flex-1">
    <div class="card-body text-center flex flex-col justify-between h-full">
      <div>
        <h2 class="text-xl font-semibold mb-2">Template Static Website</h2>
        <h3 class="font-bold text-gray-600 mb-4">From $300 NZD</h3>
        <p class="mb-4">Kickstart your online presence with a professionally designed 3-5 page static website using a
          high-quality pre-coded template.</p>
      </div>
      <div class="w-full rounded-xl bg-gradient-to-r from-pink-500 to-purple-600 p-1">
        <a href="#contact"><button
            class="bg-slate-100 rounded-lg text-purple-600 w-full py-2 hover:bg-transparent hover:text-slate-100 transition duration-300 ease-in-out">Enquire
            Now</button></a>
      </div>
    </div>
  </div>

  <div class="card bg-white text-primary-content flex flex-col p-6 shadow-lg border rounded-lg flex-1">
    <div class="card-body text-center flex flex-col justify-between h-full">
      <div>
        <h2 class="text-xl font-semibold mb-2">Custom Static Website</h2>
        <h3 class="font-bold text-gray-600 mb-4">From $500 NZD</h3>
        <p class="mb-4">Tailor-made static website designed specifically for your needs, ensuring a unique and
          personalized online presence.</p>
      </div>
      <div class="w-full rounded-xl bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-1">
        <a href="#contact"><button
            class="bg-transparent hover:bg-slate-100 rounded-lg text-slate-100 w-full py-2 hover:text-red-500 transition duration-300 ease-in-out">Enquire
            Now</button></a>
      </div>
    </div>
  </div>

  <div class="card bg-white text-primary-content flex flex-col p-6 shadow-lg border rounded-lg flex-1">
    <div class="card-body text-center flex flex-col justify-between h-full">
      <div>
        <h2 class="text-xl font-semibold mb-2">Fullstack Website (CMS or E-commerce)</h2>
        <h3 class="font-bold text-gray-600 mb-4">From $800 NZD</h3>
        <p class="mb-4">A fully customized website with an integrated admin panel, perfect for managing content or
          running an online store efficiently.</p>
      </div>
      <div class="w-full rounded-xl bg-gradient-to-r from-pink-500 to-purple-600 p-1">
        <a href="#contact"><button
            class="bg-slate-100 rounded-lg text-purple-600 w-full py-2 hover:bg-transparent hover:text-slate-100 transition duration-300 ease-in-out">Enquire
            Now</button></a>
      </div>
    </div>
  </div>

</section>