<section id="socials" class="socials bg-gray-100 py-12 mt-32 shadow-lg border-y-4 border-y-gray-500" data-aos="fade-in"
  data-aos-duration="1500">
  <div class="container mx-auto flex flex-col items-center space-y-4">
    <h1 class="text-4xl font-bold mb-2 gradient-text">My Socials</h1>
    <div class="flex justify-center space-x-8">
      <a href="https://www.linkedin.com/in/fabien-brocklesby-3172ab306/"
        class="socials-a text-7xl transition-colors duration-200">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/fabienbrocklesby" class="socials-a text-7xl transition-colors duration-200">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</section>