# Ignore node_modules directory
node_modules/
node_modules/*

# Ignore build output directory
dist/

# Ignore development server files
.server/

# Ignore cache and log files
.cache/
.log/

# Ignore image thumbnails
*.thumb/

# Ignore temporary files
*.tmp

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

wrangler.toml