<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#1f2937" />

  <link rel="icon" href="/assets/favicon/favicon.png" />
  <meta name="msapplication-TileColor" content="#1f2937" />
  <meta name="theme-color" content="#ffffff" />

  <title>Fabien Brocklesby</title>

  <link href="./assets/css/output.css" rel="stylesheet" />
  <link rel="stylesheet" href="./assets/css/styles.css" />
  <link rel="manifest" href="/manifest.json" />
</head>

<body>
  {{ content }}
  <script src="./assets/js/contactForm.js"></script>
  <script src="./assets/js/scripts.js" defer></script>


  <script src="https://kit.fontawesome.com/d1c56b39df.js" crossorigin="anonymous"></script>

  <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet" />
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>

</html>